<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">FroshOptimusMediaOptimizer</label>
    <label lang="en">FroshOptimusMediaOptimizer</label>

    <version>1.0.4</version>

    <copyright>Friends of Shopware</copyright>
    <license>MIT</license>
    <link>https://github.com/FriendsOfShopware/FroshOptimusMediaOptimizer</link>
    <author>Friends of Shopware</author>

    <compatibility minVersion="5.2.17"/>

    <description>Optimize your images with optimus.io for best results</description>
    <description>Optimiere deine Bilder voll automatisch mit optimus.io für beste Ergebnisse</description>

    <changelog version="1.0.4">
        <changes lang="de">Willkommen bei Frosh</changes>
        <changes lang="en">Welcome to Frosh</changes>
    </changelog>

    <changelog version="1.0.3">
        <changes lang="de"><![CDATA[
        - PNG entfernt, andere Services können das besser<br/>
        - Implementiere isRunnable<br/>
        ]]></changes>
        <changes><![CDATA[
        - PNG removed, cause others can do it much better<br/>
        - isRunnable implemented<br/>
        ]]></changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de"><![CDATA[
        - Füge Option ein, auch Originalbilder zu optimieren<br/>
        ]]></changes>
        <changes><![CDATA[
        - added option to optimize original images, too<br/>
        ]]></changes>
    </changelog>

    <changelog version="1.0.1">
        <changes><![CDATA[
        - webp-Support<br/>
        ]]></changes>
    </changelog>

    <changelog version="1.0.0">
        <changes><![CDATA[
        - release<br/>
        ]]></changes>
    </changelog>
</plugin>