<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">TinectOptimusOptimizer</label>
    <label lang="en">TinectOptimusOptimizer</label>
    <version>1.0.2</version>
    <link>http://www.tinect.de/</link>
    <author>Sebastian König</author>
    <copyright>(c)</copyright>
    <compatibility minVersion="5.2.17"/>
    <license>MIT</license>
    <description>
        <![CDATA[

        <b>You'll need a licence of optimus.io</b><br />
        optimizing thumbnails with <a href='https://optimus.io/' target='_blank'>optimus.io</a>
        <br /><br />
        Converts JPG- and PNG-Images for best score in google-insights.<br />
        Supports webp-optimization, if jpg or png exists.<br /><br />

        We recommend running the CLI-Command after installation to optimize all images in media:<br/>
        php bin/console optimus:batch<br /><br />

        <b>serve scalled images for best result</b><br/>
        You should consider adding following thumbnail-sizes in media manager (for SW-Responsive-Theme only):<br/>
        <b>Article</b>: 50x50, 86x86, 170x170, 430x430<br/>
        <b>Shopping worlds</b>: 293x293, 931x931, 1160x1160<br/>

        ]]>
    </description>
</plugin>