<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element>
            <name>optimusLicenseKey</name>
            <label lang="de">Lizenzschlüssel</label>
            <label>license key</label>
        </element>
        <element type="button">
            <name>checkLicense</name>
            <label lang="de">Lizenz prüfen</label>
            <label>Check licence</label>
            <options>
                <handler>
                    <![CDATA[
    function (button) {
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                Shopware.Notification.createGrowlMessage("Optimus.io", xmlhttp.responseText);
            } else if(xmlhttp.readyState == 4 && xmlhttp.status == 404) {
                Shopware.Notification.createGrowlMessage("Optimus.io", "Plugin must be activated");
            }
        }
        xmlhttp.open("GET", "verifyApiKey", false);
        xmlhttp.send();
    }
                    ]]>
                </handler>
            </options>
        </element>
        <element type="boolean">
            <name>optimizeOriginal</name>
            <label lang="de">Optimiere auch Originalbilder</label>
            <label>optimize original images, too</label>
            <value>1</value>
        </element>
        <element type="boolean">
            <name>webp</name>
            <label lang="de">Benutze optimus auch für webp-encoding</label>
            <label>Using optimus for webp-encoding, too</label>
            <value>1</value>
            <description lang="de">Fall Sie FroshWebp einsetzen, kann optimus die Generierung der webp übernehmen. D.h. es werden keine lokalen Services verwendet.</description>
            <description>If you're using FroshWebp, we can generate webp through optimus.</description>
        </element>
    </elements>
</config>